{#
/**
 * @file
 * Default theme implementation for the Splide slider template.
 *
 * This template holds 3 displays: main, thumbnail and overlay splides in one.
 *
 * Available variables:
 * - items: The array of items containing main image/video/audio, optional
 *     image/video/audio overlay and captions, and optional thumbnail
 *     texts/images.
 * - settings: A cherry-picked settings that mostly defines the slide HTML or
 *     layout, and none of JS settings/options which are defined at data-splide.
 * - attributes: The array of attributes to hold the main container classes, id.
 * - content_attributes: The array of attributes to hold optional RTL, id and
 *     data-splide containing JSON object aka JS settings the Splide expects to
 *     override default options. We don't store these JS settings in the normal
 *     <head>, but inline within data-splide attribute instead.
 */
#}
{% extends "@splide/splide.html.twig" %}
{% set list_attributes = create_attribute() %}
{%
  set list_classes = [
    'splide__list',
    settings.am_base_grid_classes ? settings.am_base_grid_classes,
  ]
%}

{% block splide_content %}
  <div class="splide__track">
    <ul {{ list_attributes.addClass(list_classes) }}>{{ items }}</ul>
  </div>
{% endblock %}
