{% if variant != '' and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('c-homepage-banner--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<div {{ attributes.addClass('c-homepage-banner') }}>
  {{ image }}
  <div class="c-homepage-banner__content{% if variant == "secondary" %} container{% endif %}">
    {{ title }}
    {{ subtitle }}
  </div>
</div>
