.c-footer {
  color: $white;
  background-color: $gray-900;
  font-size: 15px;
  line-height: 26px;

  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1180px;
    }
  }

  button {
    color: $white;
  }

  a {
    transition: font-weight $offcanvas-transition-duration;
    text-decoration: underline;
    text-decoration-color: $white;

    &:hover {
      color: $white;
      background-color: transparent;
      font-weight: bold;
    }
  }

  blockquote {
    position: relative;
    padding-left: 1rem;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      content: "";
      border-radius: 2px;
      background-color: $primary;
    }
  }

  ul:not(.c-footer__list):not(.c-footer__central) {
    li:not(.c-footer__list-wrap):not(.c-footer__central-content):not(.c-footer__list-wrap) {
      position: relative;
      padding-left: 15px;
      font-size: 15px;

      &:before {
        position: absolute;
        top: 7px;
        left: 0;
        width: 7px;
        height: 7px;
        content: "";
        border-radius: 50%;
        background-color: $primary;
      }
    }
  }

  ol {
    padding-left: 15px;
    list-style: decimal;
    font-weight: 400;

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance:none) {
        padding-left: 21px;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding: 50px 0 30px;

    &.is-empty {
      padding-top: 10px;
      padding-bottom: 0;

      .c-footer__main {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      padding: 60px 0 70px;

      &.is-empty {
        padding-top: 20px;
        padding-bottom: 0;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 16px;
    padding: 0;
    color: inherit;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;

    p {
      margin-bottom: 0;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__main {
    &-title {
      margin-bottom: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 18px;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__central {
    display: flex;

    .c-footer__title {
      cursor: pointer;

      @include media-breakpoint-up(md) {
        cursor: auto;
        pointer-events: none;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: 30px;

      .c-footer__title {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        padding: 10px 0;
        text-align: left;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);

        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          width: 34px;
          height: 34px;
          content: "";
          transition: transform $offcanvas-transition-duration;
          transform: rotate(0) translateY(-50%);
          transform-origin: top;
          background-image: url(../images/optimized/arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
        }

        &.is-active:after {
          transform: rotate(180deg) translateY(-50%);
        }
      }
    }

    @include media-breakpoint-up(md) {
      justify-content: space-around;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    background-color: transparent;
    font-size: inherit;

    &-link {
      a {
        display: flex;
        align-items: center;
        padding: 0;
        transition: text-decoration-color $offcanvas-transition-duration;
        text-decoration: underline;
        line-height: 34px;
        text-decoration-color: transparent;

        &:hover {
          font-weight: 400;
          text-decoration-color: $white;
        }
      }

      svg {
        margin-right: 15px;
      }
    }

    @include media-breakpoint-up(md) {
      &.collapse:not(.show) {
        display: block;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;

    &-element {
      margin-right: 10px;
      margin-left: 10px;

      p {
        margin-bottom: 0;
      }

      a {
        transition: text-decoration-color $offcanvas-transition-duration;
        text-decoration: underline;
        text-decoration-color: transparent;

        &:hover {
          text-decoration-color: $white;
          font-weight: 400;
        }
      }
    }

    &-menu {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    @include media-breakpoint-up(md) {
      justify-content: space-between;
      padding-bottom: 20px;

      &-element {
        margin-right: 15px;
        margin-left: 15px;

        .contextual-region & {
          margin-right: 15px;
          margin-left: 0;
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 12px;
      margin-right: 5px;
      margin-left: 5px;
    }

    a {
      display: flex;
      align-items: baseline;
      margin-right: 5px;
      margin-left: 5px;

      img {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @include media-breakpoint-down(md) {
      order: 2;
      margin-top: 10px;
    }
  }
}
