
.custom-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .webform-section-title {
    padding: 0 10px;
  }

  .form-item--error-message {
    margin: 12px 0;
    color: $danger;
    font-size: 14px;
    font-weight: 400;
  }

  legend {
    margin-bottom: 8px;
    color: $gray-600;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }

  label {
    font-size: 15px;
    font-weight: 500;
  }

  input,
  select {
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;

    &:disabled {
      opacity: 0.5;
    }
  }

  textarea {
    width: 100%;
    min-height: 230px;
    resize: none;
    border: 1px solid #c4c4c4;
    background-color: transparent;
  }

  .form-item {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;

    label {
      margin-bottom: 8px;
      cursor: pointer;
      color: $secondary;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
    }

    input + label,
    select + label {
      margin-top: 8px;
      margin-bottom: 0;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    select {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      margin: 0;
      padding: 0;
      color: $gray-900;
      border-bottom: 1px solid #c4c4c4;
      font-size: 15px;
      font-weight: 500;
    }

    .iti input[type=tel] {
      padding-left: 50px;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  .fieldgroup {
    width: 100%;
    margin: 0 !important;

    .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .form-item {
      margin: 12px 0 !important;
    }
  }

  .captcha-admin-links {
    padding: 0 10px;
  }

  .js-form-type-textarea,
  .js-form-type-radio,
  .js-form-type-checkbox {
    label {
      //display: block;
    }
  }

  .js-form-type-textarea {
    width: 100%;

    &.form-item {
      label {
        margin-bottom: 18px;
      }

      div + label {
        margin-bottom: 0;
      }
    }
  }

  .webform-options-display-two-columns {
    display: flex;
    align-items: center;
  }

  .js-form-type-radio,
  .js-form-type-checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;

    input {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      &:checked + label {
        color: $gray-900;

        &::before {
          border-color: $primary;
          background-color: $primary;
        }

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    label {
      @include transition(color);

      margin: 0;
      padding-left: 32px;
      user-select: none;
      color: $secondary;

      &:before {
        @include transition(all);

        position: absolute;
        top: 50%;
        left: 10px;
        width: 22px;
        height: 22px;
        content: "";
        transform: translateY(-50%);
        border: 2px solid $secondary;
        background-color: transparent;
      }

      &:after {
        @include transition;

        position: absolute;
        top: 50%;
        left: 15px;
        visibility: hidden;
        padding: 4px 0 4px 4px;
        content: "";
        transform: translateY(-50%) rotate(45deg);
        opacity: 0;
        border: solid $white;
        border-width: 0 2px 2px 0;
      }
    }
  }

  .js-form-type-radio {
    label {

      &:before,
      &:after {
        border-radius: 50%;
      }

      &:after {
        left: 16px;
        width: 10px;
        height: 10px;
        padding: 0;
        border: none;
        background-color: white;
      }
    }
  }

  .js-form-type-managed-file,
  .js-form-type-webform-audio-file,
  .js-form-type-webform-document-file,
  .js-form-type-webform-image-file,
  .js-form-type-webform-video-file {
    position: relative;
    width: 100%;

    .webform-managed-file-placeholder {
      margin-right: 50px;
      color: $gray-600;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }

    &.form-no-label {
      display: none;
    }

    input:last-child {
      pointer-events: auto;
    }

    label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin-bottom: 0;
      cursor: pointer;
      opacity: 0;
    }
  }

  .js-form-managed-file {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    input {
      display: none;
    }

    .button {
      display: block;
      pointer-events: none;
      color: $primary;
      border: 1px solid $primary;
      background-color: transparent;
      background-image: url(../images/optimized/arrow-right_blue.svg);
    }

    .webform-managed-file-preview {
      font-weight: 600;

      & + .button {
        padding: 13px 25px;
        pointer-events: all;
        background-image: none;
      }
    }
  }

  .webform-element-description,
  .description {
    margin-top: 5px;
    color: $secondary;
    font-size: 12px;
  }

  .webform-element--title-inline {
    display: flex;
    align-items: center;
    width: 100%;

    legend {
      flex-shrink: 0;
      width: auto;
    }

    label {
      flex-shrink: 0;
      margin-right: 10px;
      margin-bottom: 0;
    }

    .fieldset-wrapper {
      width: 100%;

      .form-item {
        @include media-breakpoint-up(md) {
          width: 100%;
        }
      }
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button {
    width: 100%;
    padding: 13px 55px 13px 25px;
    transition: background-position 0.15s ease-in;
    color: $white;
    background-color: $primary;
    background-image: url(../images/optimized/arrow-right_white.svg);
    background-repeat: no-repeat;
    background-position: bottom 50% right 15px;
    background-size: 38px;

    &:hover {
      background-position: bottom 50% right 5px;
    }

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }

  .form-required::after {
    margin-right: 0.15em;
    margin-left: 0.15em;
    content: "*";
    vertical-align: text-top;
    color: red;
    background: none;
    line-height: 1;
  }

  .js-form-type-checkbox input[required]:not(:checked) + label::after {
    position: static;
    visibility: visible;
    margin-right: 2px;
    margin-left: 2px;
    padding: 0;
    content: "*";
    transform: none;
    vertical-align: text-top;
    opacity: 1;
    color: red;
    border: none;
    background: none;
    line-height: 1;
  }
}

// specific subscription form items

.webform-submission-subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-item {
    width: auto;
  }

  .form-actions {
    width: auto;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: flex-start;

    .form-item-email {
      margin-left: auto !important;
    }

    input[type=email] {
      max-width: 374px;
    }

    .button {
      margin-left: 34px;
    }
  }
}
