:root {
  --offset-header: 0;
  --offset-admin: 0;
}

.c-header {
  z-index: 101;

  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1180px;
    }
  }

  &__logo {
    img {
      max-width: 200px;
      transition: transform 0.6s;

      @include media-breakpoint-up(lg) {
        .is-pinned & {
          transform: scale(0.8);
        }
      }

      @include media-breakpoint-down(lg) {
        .is-pinned--offset & {
          transform: scale(0.8);
        }
      }
    }
  }

  &__top {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      padding: 10px 0;
      background-color: $primary;

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &-link {
        display: block;

        a {
          position: relative;
          display: flex;
          align-items: center;
          transition: text-decoration-color $offcanvas-transition-duration;
          text-decoration: underline;
          color: $white;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          text-decoration-color: transparent;

          &:hover {
            color: $white;
            text-decoration-color: $white;
          }
        }

        &:not(:first-child) {
          margin-left: 18px;
        }

        svg {
          width: 12px;
          height: 12px;
          margin-left: 7px;
        }
      }
    }
  }

  &__bottom {
    background-color: $white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);

    @include media-breakpoint-down(lg) {
      padding-bottom: 1px;
    }
  }

  &__lang {
    &-dropdown {
      margin-left: 35px;
      color: $white;
      font-size: 17px;
      font-weight: 600;
    }

    .dropdown-menu {
      padding-right: 15px;
      padding-left: 15px;

      .language-link {
        display: block;
        font-weight: 500;
      }

      .links {
        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
    transition: padding 0.6s;

    @include media-breakpoint-up(lg) {
      padding-top: 15px;
      padding-bottom: 15px;

      .is-pinned & {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      .is-pinned--offset & {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__menu {
    &-wrapper {
      display: none;
    }

    ul.sf-menu {
      line-height: 1.2;
    }

    ul.sf-menu .sf-sub-indicator {
      right: 0;
      width: 34px;
      height: 34px;
      transition: transform $offcanvas-transition-duration;
      transform: rotate(0) translateY(-50%);
      transform-origin: top;
      opacity: 1;
      filter: brightness(0);
      background-image: url(../images/optimized/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;

      &:after {
        display: none;
      }
    }

    ul.sf-menu.sf-accordion {
      flex-shrink: 0;
    }

    ul.sf-menu.sf-accordion li.sf-depth-1 > .c-header__nav-link {
      padding-top: 22px !important;
      padding-bottom: 22px !important;
    }

    ul.sf-menu.sf-accordion li.sf-depth-2 {
      padding-left: 15px;

      ul {
        padding-left: 15px;
      }
    }

    ul.sf-menu.sf-accordion li.sf-expanded > .c-header__nav-link {
      text-shadow: 0 0 $gray-900;
    }

    ul.sf-menu.sf-accordion li > ul {
      float: left !important;
    }

    .sf-accordion-toggle {
      display: none;
    }

    @include media-breakpoint-down(lg) {
      position: fixed;
      z-index: 101;
      top: var(--offset-header);
      right: 100%;
      width: 100%;
      height: calc(100% - (var(--offset-header)));
      transition: transform $offcanvas-transition-duration, top $offcanvas-transition-duration;

      .is-admin-toolbar & {
        top: calc(var(--offset-header) + var(--ginToolbarHeight));
        height: calc(100% - (var(--offset-header) + var(--ginToolbarHeight)));
      }

      .is-pinned & {
        top: calc(var(--offset-header) - 2px);
        height: calc(100% - (var(--offset-header) - 2px));
      }

      &-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        padding: 15px 25px;
        background: $white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
      }

      .is-burger & {
        transform: translateX(100%);
      }
      &-wrapper {
        display: block;
        margin-top: 10px;

        .c-header__lang {
          &-title {
            margin-bottom: 7px;
            color: $gray-900;
            font-size: 17px;
            font-weight: 500;
          }

          &-collapse {
            position: relative;
            margin-left: 0;
            padding-top: 22px;
            padding-right: 35px;
            padding-bottom: 22px;
            transition: text-shadow $offcanvas-transition-duration;
            color: $gray-900;
            font-weight: 500;

            &:after {
              position: absolute;
              top: 50%;
              width: 34px;
              height: 34px;
              margin-left: 0;
              content: "";
              transform: rotate(0) translateY(-50%);
              filter: brightness(0);
              border: none;
              background-image: url(../images/optimized/arrow.svg);
              background-repeat: no-repeat;
              background-position: center;
            }

            &[aria-expanded="true"] {
              text-shadow: 0 0 $gray-900;
            }
          }

          &-item {
            position: relative;
            margin-left: 0;
            padding-top: 22px;
            padding-right: 35px;
            padding-bottom: 22px;
            transition: text-shadow $offcanvas-transition-duration;
            color: $gray-900;
            font-weight: 500;
          }

          .language-switcher-language-url {
            li {
              padding: 5px 15px;
              font-weight: 500;

              a {
                display: block;
              }
            }
          }
        }
      }

      .c-header__top-link {
        display: block;

        a {
          position: relative;
          display: block;
          padding: 22px 0;
          transition: text-decoration-color $offcanvas-transition-duration;
          text-decoration: underline;
          opacity: 0.7;
          color: $gray-900;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          text-decoration-color: transparent;

          svg {
            width: 12px;
            height: 12px;
            margin-left: 8px;
          }

          &:hover {
            color: $gray-900;
            text-decoration-color: $gray-900;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &-wrapper {
        flex-direction: column;
        align-items: flex-start;
      }

      &-link {
        margin-bottom: 10px;
        margin-left: 0;

        &:not(:first-child) {
          margin-left: 0;
        }
      }

      .c-header__lang {
        &-dropdown {
          margin-left: 0;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      ul.sf-menu li:hover > ul,
      ul.sf-menu li.sfHover > ul {
        z-index: 500;
        max-height: 500px;
        background-color: $white;

        .c-header__nav-link {
          padding-left: 15px !important;
          transition: background-color $offcanvas-transition-duration;
          border-bottom: none;
          text-shadow: none;

          &:after {
            display: none;
          }

          &:hover {
            background-color: #d8d8d8;
          }
        }
      }

      ul.sf-menu li > ul .c-header__nav-link .sf-sub-indicator {
        transform: rotate(-90deg) translateY(-50%);
      }

      ul.sf-menu li:hover,
      ul.sf-menu li.sfHover {
        z-index: auto;
      }
    }
  }

  &__nav {
    &-item {
      color: $gray-900;
      font-size: 17px;
      font-weight: 500;
    }

    &-link {
      display: block;
      padding: 10px 0 !important;
      transition: text-shadow $offcanvas-transition-duration;

      &.sf-with-ul {
        padding-right: 34px !important;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;

      &-item {
        &:not(:last-child) {
          margin-right: 33px !important;
        }

        ul.sf-menu.menu li &:not(:last-child) {
          margin-right: 0 !important;
        }
      }

      &-link {
        position: relative;
        overflow: hidden;
        padding: 15px 0 !important;

        &:after {
          position: absolute;
          right: 100%;
          bottom: 0;
          width: 100%;
          height: 1px;
          content: "";
          transition: transform $offcanvas-transition-duration;
          background-color: $gray-900;
        }

        &:hover {
          &:after {
            transform: translateX(100%);
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      &.sf-accordion {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        display: block !important;
        float: left;
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &__buttons {
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
    }
  }

  &__search {
    margin-left: 23px;
    padding: 10px;

    &:after {
      display: block;
      width: 16px;
      height: 17px;
      content: "";
      background-image: url(../images/optimized/search.svg);
      background-repeat: no-repeat;
    }
  }

  &__burger {
    margin-left: 5px;
    padding: 10px;

    span {
      display: block;
      width: 23px;
      height: 2px;
      margin-bottom: 5px;
      transition: $offcanvas-transition-duration;
      background: $gray-900;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-active {
      span {
        &:first-child {
          transform: rotate(-45deg) translateY(5px) translateX(-5px);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:last-child {
          margin-bottom: 0;
          transform: rotate(45deg) translateY(-5px) translateX(-5px);
        }
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    position: sticky;
    z-index: 505;
    top: -1px;

    .is-overflow & {
      width: calc(100% + var(--offset-scrollbar));

      &__bottom {
        padding-right: var(--offset-scrollbar);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.is-sticky {
      padding-bottom: var(--offset-header);

      .c-header__bottom {
        position: fixed;
        top: 0;
        width: 100%;
      }

      &.is-admin-toolbar {
        .c-header__bottom {
          top: 39px;
        }
      }
    }
  }

  @media (min-width: 976px) {
    &.is-sticky {
      .c-header__bottom {
        top: 0;
      }

      &.is-admin-toolbar {
        .c-header__bottom {
          top: 53px;
        }
      }
    }
  }
}
