<section>
  <div class="container">
    <div class="row">
      <h3>Test background styles</h3>
      <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
      <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
      <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
      <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
      <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
      <div class="p-3 mb-2 bg-info text-dark">.bg-info</div>
      <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
      <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
      <div class="p-3 mb-2 bg-body text-dark">.bg-body</div>
      <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
      <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
    </div>

    <div class="row">
      <h3>Test border</h3>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-danger">.border</div>
      <div class="p-3 mb-2 bg-light text-black border-top border-4 border-danger">.border-top</div>
      <div class="p-3 mb-2 bg-light text-black border-end border-4 border-danger">.border-end</div>
      <div class="p-3 mb-2 bg-light text-black border-start border-4 border-danger">.border-start</div>
    </div>

    <div class="row">
      <h3>Test border color</h3>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-primary">.border-primary</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-secondary">.border-secondary</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-success">.border-success</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-danger">.border-danger</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-warning">.border-warning</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-info">.border-info</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-dark">.border-dark</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-white">.border-white</div>
    </div>

    <div class="row">
      <h3>Test border width</h3>
      <div class="p-3 mb-2 bg-light text-black border border-1 border-danger">.border-1</div>
      <div class="p-3 mb-2 bg-light text-black border border-2 border-danger">.border-2</div>
      <div class="p-3 mb-2 bg-light text-black border border-3 border-danger">.border-3</div>
      <div class="p-3 mb-2 bg-light text-black border border-4 border-danger">.border-4</div>
      <div class="p-3 mb-2 bg-light text-black border border-5 border-danger">.border-5</div>
    </div>

    <div class="row">
      <h3>Test text color</h3>
      <div class="p-3 mb-2 bg-light text-primary ">.text-primary</div>
      <div class="p-3 mb-2 bg-light text-secondary ">.text-secondary</div>
      <div class="p-3 mb-2 bg-light text-success ">.text-success</div>
      <div class="p-3 mb-2 bg-light text-danger ">.text-danger</div>
      <div class="p-3 mb-2 bg-light text-warning ">.text-warning</div>
      <div class="p-3 mb-2 bg-light text-info ">.text-info</div>
      <div class="p-3 mb-2 bg-light text-dark ">.text-dark</div>
      <div class="p-3 mb-2 bg-light text-white ">.text-white</div>
    </div>

    <div class="row">
      <h3>Test text transform</h3>
      <div class="p-3 mb-2 bg-light text-danger text-lowercase">.text-lowercase</div>
      <div class="p-3 mb-2 bg-light text-danger text-uppercase">.text-uppercase</div>
      <div class="p-3 mb-2 bg-light text-danger text-capitalize">.text-capitalize</div>
    </div>

    <div class="row">
      <h3>Test text align</h3>
      <div class="p-3 mb-2 bg-light text-danger text-start">.text-start</div>
      <div class="p-3 mb-2 bg-light text-danger text-center">.text-center</div>
      <div class="p-3 mb-2 bg-light text-danger text-end">.text-end</div>
    </div>

    <div class="row">
      <h3>Test text headings</h3>
      <div class="p-3 mb-2 bg-light text-danger h1">.h1</div>
      <div class="p-3 mb-2 bg-light text-danger h2">.h2</div>
      <div class="p-3 mb-2 bg-light text-danger h3">.h3</div>
      <div class="p-3 mb-2 bg-light text-danger h4">.h4</div>
      <div class="p-3 mb-2 bg-light text-danger h5">.h5</div>
      <div class="p-3 mb-2 bg-light text-danger h6">.h6</div>
    </div>
  </div>
</section>



