.search-block-form {
  margin-left: 20px;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex !important;
  align-items: center;
}

.input-search{
  height: 40px !important;
  width: 40px !important;
  border-style: none !important;
  padding: 10px !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  outline: none !important;
  border-radius: 50% !important;
  transition: all .5s ease-in-out !important;
  background-color: white !important;
  padding-right: 30px !important;
  color:#fff;
}

.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.search-block-form:hover .input-search {
  width: 300px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  border-bottom:1px solid black !important;
  transition: all 1000ms cubic-bezier(0, 0.110, 0.35, 2) !important;
}

.input-search:hover {
  width: 300px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  border-bottom:1px solid black !important;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2) !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  /*border-color: white !important;*/
  outline: 0;
  box-shadow: none !important;
}

i.news-search {
  background: url("images/search-icon1.svg") center center no-repeat;
  width: 25px;
  height: 25px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  right: 32.5px;
  top: 7.5px;
  color:black ;
  background-color:transparent;
  pointer-events: painted;
}
