.region-nav-additional {
  display: flex;
}

.nav-item {
  //margin-left: 20px;
}

#superfish-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#superfish-main li {
  float: left;
}

#superfish-main li a {
  position: relative;
  display: block;
  color: black;
  font-family: 'Arya';
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  z-index: 0;
}

#superfish-main li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#superfish-main li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a:hover {
  color: black !important;
}

.navbar-brand img {
  height: 36px;
}

.region-nav-branding {
  display: flex;
}

#block-wiw-theme-account-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sf-sub-indicator {
  display: none;
}

ul.sf-menu.sf-style-white li, ul.sf-menu.sf-style-white.sf-navbar {
  background: none;
}

ul.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 0;
  padding: 0;
}

.navbar-nav li a {
  position: relative;
  display: block;
  color: black;
  font-family: 'Arya';
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  z-index: 0;
}

.navbar-nav li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-nav li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar-nav li a:hover {
  background: #f0f0f0;
}

#header.is-sticky {
  padding-bottom: var(--offset-header);
}

#header.is-sticky .navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  height: var(--stick-height);
}

#header {
  background-color: white;
  transition: transform 0.6s;
  z-index: 101;
}

#header img {
  transition: transform 0.6s;
}

#header .navbar {
  transition: height 1s ease;
}

#header.is-sticky img {
  transform: scale(0.8);
}

