.category-politic h2 a div,
.category-politic .field--name-field-category a {
  border-left: 0.2em solid #0842ff;
  padding-left: 0.5rem;
  line-height: 0.9em;
}


.category-sport h2 a div,
.category-sport .field--name-field-category a {
  border-left: 0.2em solid #ff0000;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-travel h2 a div,
.category-travel .field--name-field-category a {
  border-left: 0.2em solid #039632;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-science h2 a div,
.category-science .field--name-field-category a {
  border-left: 0.2em solid #a2e3fc;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-war h2 a div,
.category-war .field--name-field-category a {
  border-left: 0.2em solid #f79e02;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-culture h2 a div,
.category-culture .field--name-field-category a {
  border-left: 0.2em solid #9008ff;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-youtube h2 a div,
.category-youtube .field--name-field-category a {
  border-left: 0.2em solid #e87289;
  padding-left: 0.5rem;
  line-height: 0.9em;
}

.category-weather h2 a div
.category-weather .field--name-field-category a {
  border-left: 0.2em solid #c3effa;
  padding-left: 0.5rem;
  line-height: 0.9em;
}
