.image-text {
  float: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  height: auto;
  padding: 15% 0.75rem 0.75rem 0.75rem;
  bottom: -1px;
}

.image-title h2 {
  line-height: 1.2;
  color: white;
}

.top-news-summary {
  color: ghostwhite;
  text-decoration: none;
  margin: 0.5rem 0 0;
}

.top-news-tag{
  color: ghostwhite;
  margin-top: 0.75rem;
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: .875rem;

}

.top-news-tag a {
  color: ghostwhite;
  border-left: thin solid #ff0000;
  padding-left: 0.2rem;
}

.node__content a {
  text-decoration: none !important;
}

.image-link {
  border-left: none !important;
  padding-left: unset !important;
}
